<%- include('./partials/header.ejs') %>
<main>
    <section>
        <div>
            <h1>User: <%= currentUser.firstname %></h1>
            <p>Membership Status: <%= currentUser.membership_status %></p>
            <% if(currentUser.membership_status === 'user') { %>
              <a href="/upgrade-status">Become a Member</a>
            <% } %>
        </div>
        <% if (locals.userMsg) { %>
            <div>
                <h2>All Messages By You</h2>
                <a href="/message/new">Create New Message</a>
            </div>
            <% userMsg.map(msg => { %>
                <article>
                    <div>
                        <h3><%= msg.title %></h3>
                        <p><%= msg.created_at.toDateString() %></p>
                    </div>
                    <p><%= msg.message_content %></p>
                    <%# allow users to be able to delete their own messages %>
                    <form action="/message/<%= msg.mid %>/delete" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </article>
            <% }) %>
        <% } %>
        <h2>Check Out messages by other members</h2>
        <a href="/">All Messages</a>
    </section>
</main>
<%- include('./partials/footer.ejs') %>